<div class="row">
    <h2>PROYECTOS REALIZADOS</h2>
    <div class="contenedor">
        <div class="col-sm-12 col-ms-7 col-lg-7 parte1">
            <h4>Arg Prog</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quae eum nam quasi non blanditiis assumenda quaerat quod beatae voluptas itaque sit voluptates quos perspiciatis cupiditate pariatur nesciunt, dolore iste?</p>
        </div>
        <div class="col-sm-12 col-ms-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/construc.png"
            class="img-fluid img-proyecto">
        </div>
    </div>
</div>
