<div class="row">
    <h1>EXPERIENCIA LABORAL</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
<ul>
    <li>
        <h2>Trabajo1</h2> - <h4>(years)</h4>
    </li>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quae eum nam quasi non blanditiis assumenda quaerat quod beatae voluptas itaque sit voluptates quos perspiciatis cupiditate pariatur nesciunt, dolore iste?
    </p>
</ul>
<ul>
    <li>
        <h2>Trabajo2</h2> - <h4>(years)</h4>
    </li>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quae eum nam quasi non blanditiis assumenda quaerat quod beatae voluptas itaque sit voluptates quos perspiciatis cupiditate pariatur nesciunt, dolore iste?
    </p>
</ul>
<ul>
    <li>
        <h2>Trabajo3</h2> - <h4>(years)</h4>
    </li>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quae eum nam quasi non blanditiis assumenda quaerat quod beatae voluptas itaque sit voluptates quos perspiciatis cupiditate pariatur nesciunt, dolore iste?
    </p>
</ul>
    </div>
</div>

