.row{
    background-color: rgb(195, 142, 245);
}
footer{ 
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align:center;
    box-shadow: 2px -2px 5 px #999;

}